
nav {
	background-color: #333;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li {
	float: left;
}
nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
nav li a:hover {
	background-color: #111;
}

#principal img {
position: absolute;
top: 13%;
width: 100%;
height: 150%;

}




.imegue img{
position: absolute;
left: 68%;
top: 176%;
width: 32%;
height: 64% ;


}

.pp{
position: absolute;
left: 56%;
background-color: #111;
width: 70%;
height: 50%;
top: 176.5%;

}





































